<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include breadcrumbs.html -%}

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- PASSWORD PROTECTION -->
    <!-- <script src="{{ '/assets/auth.js' | relative_url }}"></script> -->


    <!-- Back to Top Button -->
    <button id="backToTop" title="Back to top">
      <svg id="progressRing" width="46" height="46">
        <circle cx="23" cy="23" r="20" />
      </svg>
      
     <span>↑</span>
     
    </button>
    
    <script>
      const btn = document.getElementById("backToTop");
      const ring = document.querySelector("#progressRing circle");
      const circumference = 2 * Math.PI * 20; // r = 20
    
      window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const docHeight = document.documentElement.scrollHeight - window.innerHeight;
        const progress = scrollTop / docHeight;
    
        // Show/hide button
        btn.style.display = scrollTop > 300 ? "flex" : "none";
    
        // Update ring
        const offset = circumference - progress * circumference;
        ring.style.strokeDashoffset = offset;
      });
    
      btn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    </script>
    
    <script>
      const header = document.querySelector('.site-header');
    
      window.addEventListener('scroll', () => {
        if (window.scrollY > 80) {
          header.classList.add('shrink');
        } else {
          header.classList.remove('shrink');
        }
      });
    </script>

  </body>

</html>
