<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include breadcrumbs.html -%}

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- PASSWORD PROTECTION -->
    <!-- <script src="{{ '/assets/auth.js' | relative_url }}"></script> -->


    <!-- Back to Top Button -->
    <button id="backToTop" title="Back to top">
      <svg id="progressRing" width="46" height="46">
        <circle cx="23" cy="23" r="20" />
      </svg>
      
     <svg width="64px" height="64px" viewBox="0 0 24 24">
       <path d="M18.2929 15.2893C18.6834 14.8988 18.6834 14.2656 18.2929 13.8751L13.4007 8.98766C12.6195 8.20726 11.3537 8.20757 10.5729 8.98835L5.68257 13.8787C5.29205 14.2692 5.29205 14.9024 5.68257 15.2929C6.0731 15.6835 6.70626 15.6835 7.09679 15.2929L11.2824 11.1073C11.673 10.7168 12.3061 10.7168 12.6966 11.1073L16.8787 15.2893C17.2692 15.6798 17.9024 15.6798 18.2929 15.2893Z" fill="#c3c3c3"></path>
     </svg>
     
    </button>
    
    <script>
      const btn = document.getElementById("backToTop");
      const ring = document.querySelector("#progressRing circle");
      const circumference = 2 * Math.PI * 20; // r = 20
    
      window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const docHeight = document.documentElement.scrollHeight - window.innerHeight;
        const progress = scrollTop / docHeight;
    
        // Show/hide button
        btn.style.display = scrollTop > 300 ? "flex" : "none";
    
        // Update ring
        const offset = circumference - progress * circumference;
        ring.style.strokeDashoffset = offset;
      });
    
      btn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    </script>
    
    <script>
      const header = document.querySelector('.site-header');
    
      window.addEventListener('scroll', () => {
        if (window.scrollY > 80) {
          header.classList.add('shrink');
        } else {
          header.classList.remove('shrink');
        }
      });
    </script>

  </body>

</html>
